/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&display=swap");

:root {
  /* color pallete */
  --main-color: #3778c2;
  --secondary-color: #5fb523;
  --text-color: #434b54;

  /* font family */

  --main-ff: "Lato", sans-serif;
  --splash-ff: 'Lobster', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-ff);
  background-color: #e6f1ff;
}

@media (min-width: 400px) {
  body {
    width: 400px;
    margin: 0 auto 0 auto;
  }
}

ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* splash screen styling */
.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.splash-screen > h1 {
  font-family: var(--splash-ff);
}

.registration-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.btn {
  padding: 10px;
  background-color: var(--main-color);
  color: white;
}

.btn-secondary {
  background-color: transparent;
  color: var(--main-color);
}


/* LOGIN FORM */

.login-section,
.signup-section,
.groups-section,
.create-category-section,
.expenses-section,
.new-expense-section,
.forgot-password-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-button,
.signup-button,
.new-group,
.create-group,
.new-entity,
.create-expense {
  margin-top: 20px;
  background-color: var(--secondary-color);
  color: white;
}

.login-section > form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--main-color);
  color: white;
}

.header > * {
  flex: 1;
}

.header > h2 {
  text-align: center;
}

::placeholder {
  color: #d1d1d1;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(223, 220, 223);
  background-color: white;
}

.shared-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
}

/* groups page */

.group-item,
.transaction-item {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.group-item > *,
.transaction-item > * {
  flex: 1;
  text-align: center;
}

.new-group {
  padding: 8px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.show-button {
  color: var(--main-color);
  text-decoration: underline;
  font-weight: 700;
}

.select-icon-field {
  display: flex;
  align-items: center;
}

.select-icon-field > input {
  flex: 1;
}

.select-icon-field > span {
  flex: 0.5;
  padding: 8px;
  color: var(--main-color);
  text-decoration: underline;
  font-weight: 700;
}

.icon-picker-container {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.icon-picker {
  background-color: white;
  padding: 20px;
  margin: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.icon-picker > span {
  align-self: flex-end;
}

.icons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.icon {
  border: 1px solid rgb(223, 220, 223);
  padding: 8px;
  flex: 1;
}

.total-amount-header {
  text-align: end;
}

.new-entity {
  padding: 8px;
  text-align: center;
  width: 100%;
}

.expenses-section > form {
  padding: 20px;
}

.log-out-button {
  color: white;
}

.hidden {
  display: none;
}
